* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #0B1220;
}

.navegacao  {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.menu {
    background-color: rgba(16, 24, 46, 0.8);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 0;
    font-size: 20px;
    list-style-type: none;
}

.menu hr {
    width: 0.2px;
    height: 25px;
    background-color: #E5E7EB;
}

.menu a {
    color: #E5E7EB;
    text-decoration: none;
    position: relative;
    padding: 25px 28px;    
    transition: 0.5s ease;
}

.menu a::after {
    content: '';
    height: 2px;
    width: 0;
    position: absolute;
    bottom: 13px;
    left: 20%;
    background: linear-gradient(to right, #3B82F6, #1D4ED8);
    transition: 0.5s ease;
}

.menu a:hover {
    color: #3061e6;
}

.menu a:hover::after {
    width: 60%;
}

.cabecalho {
    text-align: center;
    color: #E5E7EB;
    padding: 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cabecalho h1 {
    font-size: 45px;
    font-weight: bold;
    margin-top: 60px;
    margin-bottom: 15px;
    text-shadow: 0 0 20px rgba(79, 70, 229, 0.3);
}

.cabecalho p {
    font-size: 18px;
    text-shadow: 0 0 15px rgba(79, 70, 229, 0.4);
}

.linha {
    border: 0.5px solid #E5E7EB;
    margin: 0 100px
}

#sobre {
    position: relative;  
    top: -140px;                  
}

.sobre {
    display: flex;
    color: #E5E7EB;
    padding: 70px 0;
}

#foto {
    width: 300px;
    height: auto;
    border-radius: 10px;
    margin-left: 100px;
    margin-right: 50px;
    transition: 0.3s ease;
    box-shadow: 0 0 17px rgba(79, 70, 229, 0.3);
}

#foto:hover {
    filter: brightness(1.05);
    transform: scale(1.05);
}

.sobre h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.sobre p {
    font-size: 16px;
    line-height: 1.4;
    text-align: justify;
    margin-right: 100px;
    margin-bottom: 25px;
}

.competencias {
    list-style-type: none;
    display: flex;
}

.competencias li {
    max-width: 50px;
    max-height: 50px;
    margin-right: 20px;
    transition: 0.5s ease;
}

.competencias li:hover {
    transform: scale(1.2);
}    

.competencias a {
    display: block;
    width: 100%;
    height: 100%;
}

.competencias img {
    width: 100%;
    height: 100%;
    box-shadow: 0 0 12px rgba(79, 70, 229, 0.3);
}

#projetos {
    position: relative;  
    top: -110px;                  
}
    
.projetos h2 {
    color: #E5E7EB;
    margin: 50px 0 50px 80px;
    font-size: 30px;
}

.caixa_projetos {
    display: flex;
    justify-content: space-between;
    margin: 0 100px;
}

.projeto {
    max-width: 280px;
    max-height: 300px;
    margin-bottom: 70px;
    transition: 0.3s ease;
}

.projeto img {
    width: 100%;
    height: 60%;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(79, 70, 229, 0.3);
    transition: 0.3s ease;
}

.projeto img:hover {
    filter: brightness(1.05);
    transform: scale(1.02);
}

.projeto:hover {
    transform: scale(1.015);
}

.projeto h3 {
    color: #E5E7EB;
    margin-bottom: 20px;
    text-align: center;
}

.botoes_projetos {
    display: flex;
    justify-content: space-around;
}

.projeto button {
    background-color: #1D4ED8;
    color: #E5E7EB;
    border: none;
    padding: 12px 12px;
    font-size: 16px;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
}

.projeto button:hover {
    background-color: #4c85ff;
    transform: scale(1.02);
}

.projeto button:active {
    transition: 0.1s ease;
    background-color: #4374df;
    transform: scale(0.98);
}

#contato h2 {
    color: #E5E7EB;
    margin: 50px 0 50px 80px;
    font-size: 30px;
}

.caixa_contatos {   
    margin: 0 100px 70px 100px;
}

.contato {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    color: #E5E7EB;
}

.contato img {
    width: 40px;
    height: 40px;
    margin-right: 20px;
    box-shadow: 0 0 12px rgba(79, 70, 229, 0.3);
    transition: 0.3s ease;
}

.contato img:hover {
    transform: scale(1.15);
}

#ultima_linha {
    margin-bottom: 50px;
}