* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #0B1220;
}

.navegacao  {
    position: fixed;
    top: 0;
    width: 100%;
}

.menu {
    background-color: #111A2E;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 0;
    font-size: 20px;
    list-style-type: none;
}

.menu hr {
    width: 0.2px;
    height: 25px;
    background-color: #E5E7EB;
}

.menu a {
    color: #E5E7EB;
    text-decoration: none;
    padding: 28px 25px;    
    transition: 0.5s ease;
}

.menu a:hover {
    color: #1D4ED8;
}

.cabecalho {
    text-align: center;
    color: #E5E7EB;
    padding: 90px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cabecalho h1 {
    font-size: 45px;
    font-weight: bold;
    margin-top: 60px;
    margin-bottom: 15px;
}

.cabecalho p {
    font-size: 18px;
}

.linha {
    border: 0.5px solid #E5E7EB;
    margin: 0 100px
}

#sobre {
    position: relative;  
    top: -150px;                  
}

.sobre {
    display: flex;
    color: #E5E7EB;
    padding: 50px 0;
}

.sobre img {
    width: 300px;
    height: auto;
    border-radius: 10px;
    margin-left: 100px;
    margin-right: 50px;
}

.sobre h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.sobre p {
    font-size: 16px;
    line-height: 1.4;
    text-align: justify;
    margin-right: 100px;
    margin-bottom: 20px;
}