* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #0B1220;
}

.menu {
    background-color: #111A2E;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    font-size: 20px;
    list-style-type: none;
}

.menu hr {
    width: 0.2px;
    height: 25px;
    background-color: #E5E7EB;
}

.menu a {
    color: #E5E7EB;
    text-decoration: none;
    padding: 23px 25px;    
    transition: 0.5s ease;
}

.menu a:hover {
    color: #1D4ED8;
}