* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #0B1220;
}

.navegacao  {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.menu {
    background-color: #111A2E;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.7vw 0;
    font-size: 1.5vw;
    list-style-type: none;
}

.menu hr {
    width: 0.01vw;
    height: 1.7vw;
    background-color: #E5E7EB;
}

.menu a {
    color: #E5E7EB;
    text-decoration: none;
    padding: 28px 25px;    
    transition: 0.5s ease;
}

.menu a:hover {
    color: #1D4ED8;
}

.cabecalho {
    text-align: center;
    color: #E5E7EB;
    padding: 8vw 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cabecalho h1 {
    font-size: 3vw;
    font-weight: bold;
    margin-top: 3vw;
    margin-bottom: 1.5vw;
}

.cabecalho p {
    font-size: 1.5vw;
}

.linha {
    border: 0.5px solid #E5E7EB;
    margin: 0 10vw
}

#sobre {
    position: relative;  
    top: -150px;                  
}

.sobre {
    display: flex;
    color: #E5E7EB;
    padding: 5vw 0;
}

#foto {
    width: 22%;
    height: 100%;
    border-radius: 10px;
    margin-left: 10vw;
    margin-right: 4vw;
    transition: 0.3s ease;
}

#foto:hover {
    filter: brightness(1.05);
    transform: scale(1.05);
}

.sobre h2 {
    font-size: 2.5vw;
    margin-bottom: 1vw;
}

.sobre p {
    font-size: 1.4vw;
    line-height: 1.4;
    text-align: justify;
    margin-right: 10vw;
    margin-bottom: 2vw;
}

.competencias {
    list-style-type: none;
    display: flex;
}

.competencias li {
    max-width: 4vw;
    max-height: 4vw;
    margin-right: 1.5vw;
    transition: 0.5s ease;
}

.competencias li:hover {
    transform: scale(1.2);
}    

.competencias a {
    display: block;
    width: 100%;
    height: 100%;
}

.competencias img {
    width: 100%;
    height: 100%;
}

#projetos {
    position: relative;  
    top: -110px;                  
}
    
.projetos h2 {
    color: #E5E7EB;
    margin: 4vw 0 4vw 6vw;
    font-size: 2.5vw;
}

.caixa_projetos {
    display: flex;
    justify-content: space-between;
    margin: 0 8vw;
}

.projeto {
    max-width: 25%;
    max-height: 25vw;
    margin-bottom: 5vw;
    transition: 0.3s ease;
}

.projeto img {
    width: 100%;
    height: 60%;
    border-radius: 15px;
    transition: 0.3s ease;
}

.projeto img:hover {
    filter: brightness(1.05);
    transform: scale(1.02);
}

.projeto:hover {
    transform: scale(1.015);
}

.projeto h3 {
    color: #E5E7EB;
    margin-bottom: 1.5vw;
    text-align: center;
    font-size: 1.5vw;
}

.botoes_projetos {
    display: flex;
    justify-content: space-around;
}

.projeto button {
    background-color: #1D4ED8;
    color: #E5E7EB;
    border: none;
    padding: 0.8vw 1vw;
    font-size: 1.2vw;
    margin-top: 1.5vw;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
}

.projeto button:hover {
    background-color: #4c85ff;
    transform: scale(1.02);
}

.projeto button:active {
    transition: 0.1s ease;
    background-color: #4374df;
    transform: scale(0.98);
}

#contato h2 {
    color: #E5E7EB;
    margin: 4vw 0 4vw 6vw;
    font-size: 2.5vw;
}

.caixa_contatos {   
    margin: 0 8vw 5vw 8vw;
}

.contato {
    display: flex;
    align-items: center;
    margin-bottom: 1.5vw;
    color: #E5E7EB;
    font-size: 1.5vw;
}

.contato img {
    width: 3.5vw;
    height: 3.5vw;
    margin-right: 20px;
    transition: 0.3s ease;
}

.contato img:hover {
    transform: scale(1.15);
}

#ultima_linha {
    margin-bottom: 4vw;
}